[submodule "DGP.Genshin.MiHoYoAPI"]
	path = DGP.Genshin.MiHoYoAPI
	url = https://github.com/DGP-Studio/DGP.Genshin.MiHoYoAPI.git
[submodule "DGP.Genshin.Common"]
	path = DGP.Genshin.Common
	url = https://github.com/DGP-Studio/DGP.Genshin.Common.git
[submodule "DGP.Genshin.DataViewer"]
	path = DGP.Genshin.DataViewer
	url = https://github.com/DGP-Studio/DGP.Genshin.DataViewer.git
[submodule "DGP.Genshin.FPSUnlocking"]
	path = DGP.Genshin.FPSUnlocking
	url = https://github.com/DGP-Studio/DGP.Genshin.FPSUnlocking.git
