################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.vscode/.ropeproject

/Build/Debug
/Build/Publish
/Build/Release

/Build/DGP.Snap.AutoVersion.exe.config
/Build/DGP.Snap.AutoVersion.pdb

/DGP.Genshin/bin
/DGP.Genshin/obj

/DGP.Genshin.Data/bin
/DGP.Genshin.Data/obj

/DGP.Genshin.DataViewer/bin
/DGP.Genshin.DataViewer/obj

/DGP.Snap.AutoVersion/bin
/DGP.Snap.AutoVersion/obj

/DGP.Snap.Framework/bin
/DGP.Snap.Framework/obj

/DGP.Snap.Test/bin
/DGP.Snap.Test/obj

/DGP.Snap.Updater/obj
/DGP.Snap.Updater/obj

/packages
